<div style='border: 3px dashed yellow'>
<img src='http://bit.ly/1eze8aE'>
</div>

<h2>
My name is <%=@name%>
</h2>

<% if @name == nil %> 
<form action="/named-cat" method="post"> 
<input type="text" name="name">
<input type="submit" value="Submit">
</form>
<% end %> 

